<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DRM</key>
	<dict>
		<key>Endpoint</key>
		<string>https://aiwass.aspenuwu.me/v1/authorize</string>
		<key>Hostname</key>
		<string>aiwass.aspenuwu.me</string>
	</dict>
</dict>
</plist>
